.home-sec {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff72;
  backdrop-filter: blur(60px); 
  -webkit-backdrop-filter: blur(60px); 
  z-index: 2;
  width: 100%;
  height: 100vh;
  transition: height 0.3s ease;
  font-size: 14px;
  text-align: center;
  padding: 0px 5vh;

  h1, p {
    margin: 0px;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    .cockpit-access-btn {
      cursor: pointer;
      border: none;
      padding: 20px 35px;
      border-radius: 1000px;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 7px;
      font-size: 17px;
      transition: 0.1s ease;
      background-color: #357cff;
      color: #fff;

      &:hover {
        transform: scale(1.1);
      }

      span {
        font-size: 20px;
      }
    }
  }

  .credits-p {
    margin-bottom: 2vh;
    color: #515151;

    a {
      color: #515151;
      text-decoration: none;

      span:first-of-type:hover {
        text-decoration: underline;
      }
    }

    .material-symbols-outlined {
      font-size: 12px;
    }
  }
}