.windshield-content-sub-box-placesmod-init {
  align-items: start !important;
  transform: scale(0.1);

  &.windshield-content-sub-box-placesmod-extend {
    transition: transform 0.5s ease-in-out;
    transform: scale(1);
  }
} 
.windshield-content-box-placesmod-extend {
  border-radius: 0px !important;
  transition: border-radius 0.5s ease;

  background-color: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(60px); 
  -webkit-backdrop-filter: blur(60px); 
}

.places-box {
  padding: 40px 12vw;
  gap: 40px;
  display: none; // Toggle none/flex
  flex-direction: column;

  .places-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    h1 {
      font-size: 22px;
    }
  }

  .places-cards-box {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .place-card {
      flex: 0 1 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      border-radius: 10px;
      background-color: #fff;
      font-size: 14px;
      padding: 5px;

      span {
        font-size: 14px; 
      }

      .place-top-box {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .place-image {
          width: 100%;
          aspect-ratio: 5/3;
          object-fit: cover; 
          border-radius: 10px;
        }

        .place-infos-box {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: 0px 15px;

          .place-name {
            font-weight: bold;
            font-size: 16px;
            // text-wrap
          }

          .place-type {
            // color: #fff;
            // font-size: 12px;
            // background-color: #5170aa;
            // padding: 4px 8px;
            // border-radius: 100px;
          }

          .place-address {
            color: #969696;
            font-size: 12px;

            span {
              vertical-align: middle;
              margin-bottom: 2.5px;
              margin-right: 7px;
            }
          }
        }
      }

      .place-links-box {
        display: flex;
        gap: 10px;
        margin: 0px 15px 15px 15px;

        a {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          text-align: center;
          gap: 7px;

          &.streetview-link {
            padding: 10px;
            border-radius: 1000px;
            background-color: #357cff;
            color: #fff;
          }

          &.google-link {
            margin: 10px;
            color: #357cff;
            font-weight: 450;

            &:hover {
              text-decoration: underline;
            }
          }

          span {
            font-weight: bold;
          }
        }
      }
    }
  }

  p, h1 {
    margin: 0px;
  }
}