.places-sub-box {
  height: 0%; // Toggle
  overflow: scroll;

  .places-box {
    padding: 0px 100px;
    background-color: #fff;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .place-item {
      background-color: rgb(250, 250, 250);
      font-size: 14px;
      flex: 1 1 300px;

      .place-image {
        width: 100%;
        height: 200px;
        object-fit: cover; 
      }
    }
  }
}