input {
  background-color: transparent;
  border: none;

  &:focus {
    border: none;
    outline: none;
  }
}

button {
  border: none;
  cursor: pointer;
}

.map-sub-box {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex; // toggle flex
  justify-content: center;
  align-items: center;
  background-color: #0000004c;

  .map-box {
    position: relative;
    width: clamp(370px, 50%, 9999px);
    aspect-ratio: 1/1;
    background-color: #fff;
    border-radius: 10px;

    #map {
      width: 100%;
      height: 100%;
      border-radius: 10px;

      .leaflet-popup {
        button {
          width: 100%;
          background-color: #ff9641;
          color: #fff;
          padding: 10px;
          border-radius: 10px;
        }
      }

      .marker-cluster {
        background-color: #ff9641;  
        border: none;
        color: white;

        div { 
          font: 13px "Poppins";
        }
      }

      .marker-cluster-large div,
      .marker-cluster-medium div,
      .marker-cluster-small div {
        background-color: transparent;
      }
    }

    .map-header {
      position: absolute;
      z-index: 1000;
      width: 100%;
      top: 15px;
      display: flex;
      justify-content: space-between;

      .map-header-left {
        width: 77px;
      }

      .close-map {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1000px;
        width: 53px;
        color: #9898a3;
        background-color: #fcfcfc;
        margin-right: 20px;
        box-shadow: 0px 0px 15px 0px #00000051;
      }

      .map-search-box {
        background-color: #fcfcfc;
        display: flex;
        align-items: center;
        border-radius: 1000px;
        padding: 4px 22px;
        gap: 12px;
        box-shadow: 0px 0px 15px 0px #00000051;

        input {
          font-size: 14px;
          padding: 12px 5px 12px 0px;
          width: 107px;

          &::placeholder {
            color: #9898a3;
          }
        }

        span {
          color: #9898a3;
          font-size: 21px;
        }
      }
    }
  }
}